<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Главная</title>
    <style>
      a {
       line-height: 2
       }

      #left { position: absolute; left: 0; top: 15%; width: 20%; }
      #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>DinoLAND</b></h1></center></big></big>
    <hr></hr> 

    <div id="left"> 
      <center><h2>Основные разделы:</h2></center>
      <ul id="navbar">
        <li><a href="main">Главная</a></li>
        <li><a href="random_fact">Рандомный факт</a></li>
        <li><a href="random_dinosaur">Случайный динозавр</a></li>
        <li><a href="tests">Тесты</a></li>
        <li><a href="new_dinosaur">Добавь своего динозавра</a></li>
        <li><a href="registration">Вход/Регистрация</a></li>
      </ul>
    </div>

    <div id="right"> 
      <center><h1><b>Политика конфиденциальности</b></h1></center>
      <center><img src="static/img/sad.gif" alt="упси дупси" width="700" height="350"><center>
        <h3>Ваши данные будут под контролем :Р</h3>>

    </div>>

  </body>
</html>