<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
       line-height: 2
       }
     .thumb img  {
      border: 2px solid #55c5e9;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>DinoLAND</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Основные разделы:</h2></center>
      <ul id="navbar">
        <li><a href="main">Главная</a></li>
        <li><a href="random_fact">Рандомный факт</a></li>
        <li><a href="random_dinosaur">Случайный динозавр</a></li>
        <li><a href="tests">Тесты</a></li>
        <li><a href="new_dinosaur">Добавь своего динозавра</a></li>
        <li><a href="registration">Вход/Регистрация</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Апатозавр</b></h1></center>
      <div class="thumb">
        <img src="static/img/факты_ап.png" alt="упси дупси" width="500" height="400" title="Апатозавр">
        <img src="static/img/факты_ап2.png" alt="упси дупси" width="500" height="400" title="Апатозавр">
      </div>

      <center><h2>Латинское название Apatosaurus происходит от греческих слов – обманный ящер.</h2></center>

      <ul id="navbar">
        <big><li><p>Апатозавр — один из крупнейших динозавров: его длина могла достигать 20—23 метров, а масса, по разным данным, до 24—32 тонн, однако некоторые учёные указывают на то, что их масса не превышала 18 тонн.</p></li></big>
        <big><li><p>Для апатозавра характерны длинные хвост и шея, массивные ноги, на конце шеи — относительно маленькая голова. Передние конечности немного короче задних. Кости конечностей очень крепкие. На каждой передней конечности апатозавра был один большой коготь.</p></li></big>
        <big><li><p>Апатозавр также имел очень длинные ребра по сравнению с большинством других диплодоидов, что делало его грудь необычно глубокой.</p></li></big>
        <big><li><p>Его мозг весил всего 400 граммов.</p></li></big>
        <big><li><p>Длительное время использовался устаревшее название - "бронтозавр".</p></li></big>
        <big><li><p>До семидесятых годов двадцатого века была широко распространена версия, что зауроподы, подобные апатозаврам, не могли выдерживать свой вес на суше. Поэтому в основном пребывали большую часть времени в реках, озёрах или болотах. Теория не получила никаких подтверждений и лишь массу опровержений. Несмотря на то, что они любили поплескаться в водичке на жаре, длинношеие гиганты преспокойно бороздили доисторические саванны. Они моли пересекать огромные расстояния.</p></li></big>
      </ul>
    </div>

  </body>
</html>