<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
       line-height: 2
       }
     .thumb img  {
      border: 2px solid #55c5e9;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>DinoLAND</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Основные разделы:</h2></center>
      <ul id="navbar">
        <li><a href="main">Главная</a></li>
        <li><a href="random_fact">Рандомный факт</a></li>
        <li><a href="random_dinosaur">Случайный динозавр</a></li>
        <li><a href="tests">Тесты</a></li>
        <li><a href="new_dinosaur">Добавь своего динозавра</a></li>
        <li><a href="registration">Вход/Регистрация</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Брахиозавр</b></h1></center>
      <center><h2>Немного интересных фактов о них:</h2></center>
      <div class="thumb">
        <img src="static/img/факты_б.png" alt="упси дупси" width="500" height="400" title="Брахиозавр">
        <img src="static/img/факты_б2.png" alt="упси дупси" width="500" height="400" title="Брахиозавр">
      </div>

      <ul id="navbar">
        <big><li><p>Brachiosaurus - с греческого «плечистый ящер».</p></li></big>
        <big><li><p>Брахиозавр является самым высоким динозавром.</p></li></big>
        <big><li><p>Детенышу брахиозавра, вероятно, требовалось не меннее 10 лет, чтобы достич размеров взрослой особи.</p></li></big>
        <big><li><p>У брахиозавра был очень маленький мозг, и потому ученые полагают, что он был не очень-то смышленым.</p></li></big>
      </ul>
    </div>

  </body>
</html>