<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
       line-height: 2
       }
     .thumb img  {
      border: 2px solid #55c5e9;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>DinoLAND</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Основные разделы:</h2></center>
      <ul id="navbar">
        <li><a href="main">Главная</a></li>
        <li><a href="random_fact">Рандомный факт</a></li>
        <li><a href="random_dinosaur">Случайный динозавр</a></li>
        <li><a href="tests">Тесты</a></li>
        <li><a href="new_dinosaur">Добавь своего динозавра</a></li>
        <li><a href="registration">Вход/Регистрация</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Велоцираптор</b></h1></center>
      <div class="thumb">
        <img src="static/img/факты_в.png" alt="упси дупси" width="500" height="400" title="Велоцираптор">
        <img src="static/img/факты_в2.png" alt="упси дупси" width="500" height="400" title="Велоцираптор">
      </div>

      <center><h2>Велоцираптор - мелкий хищник мелового периода.</h2></center>

      <ul id="navbar">
        <big><li><p>Длина тела этого создания достигала 1,8 метра.</p></li></big>
        <big><li><p>Весил взрослый представитель тираннозавров до 15 килограммов.</p></li></big>
        <big><li><p>Охотился велоцираптор в любое время дня и ночи.</p></li></big>
        <big><li><p>Велоцираптор был одним из самых умных динозавров и поэтому был особенно ловким и изощренным охотником.</p></li></big>
        <big><li><p>Размер головы был всего 25 сантиметров, зато она была снабжена острейшими, загнутыми назад зубами.</p></li></big>
        <big><li><p>На хвост велоцираптора приходилась почти половина длины тела.</p></li></big>
      </ul>
    </div>

  </body>
</html>