<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
       line-height: 2
       }
     .thumb img  {
      border: 2px solid #55c5e9;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>DinoLAND</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Основные разделы:</h2></center>
      <ul id="navbar">
        <li><a href="main">Главная</a></li>
        <li><a href="random_fact">Рандомный факт</a></li>
        <li><a href="random_dinosaur">Случайный динозавр</a></li>
        <li><a href="tests">Тесты</a></li>
        <li><a href="new_dinosaur">Добавь своего динозавра</a></li>
        <li><a href="registration">Вход/Регистрация</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Гиганотозавр</b></h1></center>
      <div class="thumb">
        <img src="static/img/факты_г.png" alt="упси дупси" width="500" height="400" title="Гиганотозавр">
        <img src="static/img/факты_г2.png" alt="упси дупси" width="500" height="400" title="Гиганотозавр">
      </div>

      <center><h2>Гиганотозавр с латинского - «гигантская ящерица».</h2></center>

      <ul id="navbar">
        <big><li><p>Гиганотозавр — крупный плотоядный динозавр верхнемеловой эпохи из семейства кархародонтозаврид надсемейства аллозавроид.</p></li></big>
        <big><li><p>Гиганотозавр был одним из крупнейших из всех известных науке наземных плотоядных динозавров.</p></li></big>
        <big><li><p>Длина самого большого из обнаруженных черепов гигантозавра 1,95 м.</p></li></big>
        <big><li><p>По размерам он превосходит тиранозавра, но меньше спинозавра.</p></li></big>
        <big><li><p>Не смотря на то, что гиганотозавр больше тиранозавра, по массе и силе он ему уступает.</p></li></big>
        <big><li><p>Череп гиганотозавра был украшен различными гребнями в области носовых костей и глазниц, отличающих его от тираннозавра. Гиганотозавр, в отличие от тираннозавра, не обладал бинокулярным зрением и его головной мозг был меньше. Это ставит гиганотозавра на ступень ниже по развитию в сравнении с тираннозавром.</p></li></big>
      </ul>
    </div>

  </body>
</html>